<html>

    <h1> This is my dashboard. </h1>

                    <li><a href="https://noirmed.pythonanywhere.com/">Home</a></li>
                    <li><a href="https://calendly.com/noirmedimaging/doctor-s-consultation">Appointments</a></li>
                    <h2>doctors</h2>
                    <li><a href="https://calendly.com/noirmedimaging/doctor-s-consultation">doc 1</a></li>
                    <li><a href="https://calendly.com/noirmedimaging/doctor-s-consultation">Doc 2</a></li>
                    <li><a href="https://calendly.com/noirmedimaging/doctor-s-consultation">Doc 3</a></li>
                    <li><a href="https://calendly.com/noirmedimaging/doctor-s-consultation">Doc 4</a></li>
                    <li><a href="https://noirmed.pythonanywhere.com/upload_image/">Upload</a></li>
                    <li><a href="https://noirmed.pythonanywhere.com/upload_image/">Download Imaging</a></li>
                    <li><a href="https://noirmed.pythonanywhere.com/upload_report/">Upload Report</a></li>

    <a href="http://noirmed.pythonanywhere.com/">Logout here</a>

</html>