<!-- medapp/templates/homepage.html -->
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedApp</title>

    <style>
        :root {
            --background-image: url('{% static "admin/img/background-image.jpg" %}');
        }
    </style>


    <link rel="stylesheet" href="{% static '/admin/css/homepage.css' %}">

</head>
<body>
    <header>
        <div class="container">
            <h1>MedApp</h1>
            <nav>
                <ul>

                    <li><a href="mailto:noirmedimaging@gmail.com">Contact Us</a></li>
                    <li><a href="https://noirmed.pythonanywhere.com/my_login/"> Login here </a></li>

                    <!-- Add more navigation links as needed -->
                </ul>
            </nav>
        </div>
    </header>

    <section class="hero">
        <div class="container">
            <h2>Your Health, Our Priority</h2>
            <p>Book appointments, manage health records, and more.</p>
            <a href="https://noirmed.pythonanywhere.com/my_register/" class="cta-button">Get Started</a>
        </div>
    </section>

    <section class="features">
        <div class="container">

            <div class="feature">
                <i class="fas fa-about"></i>
                <h3>About Us</h3>
                <p>NoirMed Imaging Solutions is a ....</p>
            </div>

            <div class="feature">
                <i class="fas fa-calendar"></i>
                <h3>Book Appointments</h3>
                <p>Schedule your appointments easily online.</p>
            </div>
            <div class="feature">
                <i class="fas fa-images"></i>
                <h3>Imaging Services</h3>
                <p>Upload and access your medical images securely.</p>
            </div>
            <!-- Add more features as needed -->
        </div>
    </section>

    <!-- Add more sections as needed -->

    <footer>
        <div class="container">
            <p>&copy; 2023 MedApp. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
