<!-- medapp/templates/homepage.html -->
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedApp</title>

    <style>
        :root {
            --background-image: url('{% static "admin/img/background-image.jpg" %}');
        }
    </style>


    <link rel="stylesheet" href="{% static '/admin/css/homepage.css' %}">

</head>
<body>
    <header>
        <div class="container">
            <h1>MedApp</h1>
            <nav>
                <ul>

                    <li><a href="mailto:noirmedimaging@gmail.com">Contact Us</a></li>
                    <li><a href="https://noirmed.pythonanywhere.com/my_login/"> Login here </a></li>

                    <!-- Add more navigation links as needed -->
                </ul>
            </nav>
        </div>
    </header>

    <section class="hero">
        <div class="container">
            <h2>Your Health, Our Priority</h2>
            <p>Book appointments, manage health records, and more.</p>
            <a href="https://noirmed.pythonanywhere.com/my_register/" class="cta-button">Get Started</a>
        </div>
    </section>

    <section class="features">
        <div class="container">

            <div class="feature">
                <i class="fas fa-about"></i>
                <h3>About Us</h3>
                <p>NoirMed Imaging Solutions is a pioneering healthcare technology firm dedicated to revolutionizing medical imaging.
                Leveraging cutting-edge advancements in imaging technology, we specialize in providing innovative solutions for diagnostic imaging,
                ensuring precision, efficiency, and accessibility in healthcare. Our commitment lies in delivering state-of-the-art imaging solutions
                that empower healthcare professionals and institutions, ultimately enhancing patient care and outcomes.</p>

            </div>

            <div class="feature">
                <i class="fas fa-calendar"></i>
                <h3>Book Appointments</h3>
                <p>Schedule your appointments according to your time zone easily online.</p>

                <p>Through our user-friendly platform,
                patients can conveniently book appointments according to their specific time zones,
                ensuring a hassle-free and accessible experience. We pride ourselves on harnessing cutting-edge imaging technology to streamline
                the scheduling process, empowering both healthcare professionals and patients alike. Our commitment is unwavering—to deliver innovative solutions that
                redefine the way medical appointments are scheduled, making quality healthcare more accessible and convenient for everyone.</p>

            </div>
            <div class="feature">
                <i class="fas fa-images"></i>
                <h3>Imaging Services</h3>
                <p>Effortlessly upload and securely access your medical images and reports with speed and peace of mind.
                Our streamlined platform ensures swift and confidential handling of your essential medical data, providing you with quick
                and secure access whenever you need it. Your images and reports are safeguarded,
                allowing you to manage your health information conveniently and confidently, all
                within a protected environment designed with your privacy in mind.</p>
            </div>

            <div class="feature">
                <i class="fas fa-video"></i>
                <h3>Video Tour</h3>
                <p>Take a tour of NoirMed_Imaging by waching this video.</p>
                <iframe src="https://player.vimeo.com/video/901147674" width="640" height="360" frameborder="0" allowfullscreen></iframe>
            </div>


            <!-- Add more features as needed -->
        </div>
    </section>

    <!-- Add more sections as needed -->

    <footer>
        <div class="container">
            <p>&copy; 2023 MedApp. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
