<!-- medapp/templates/homepage.html -->
{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <style>
        :root {
            --background-image: url('{% static "admin/img/background-image.jpg" %}');
        }
    </style>


    <link rel="stylesheet" href="{% static '/admin/css/homepage.css' %}">
{% endblock %}

{% block content %}

    <section class="hero">
        <div class="container">
            <h2>Your Health, Our Priority</h2>
            <p>Book appointments, manage health records, and more.</p>
            <a href="#" class="cta-button">Get Started</a>
        </div>
    </section>

    <section class="features">
        <div class="container">
            <div class="feature">
                <i class="fas fa-calendar"></i>
                <h3>Book Appointments</h3>
                <p>Schedule your appointments easily online.</p>
            </div>
            <div class="feature">
                <i class="fas fa-images"></i>
                <h3>Imaging Services</h3>
                <p>Upload and access your medical images securely.</p>
            </div>
            <!-- Add more features as needed -->
        </div>
    </section>

{% endblock %}
