{% load static %}
{% load admin_urls %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Doctor's Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'admin/css/style.css' %}">
    <script src="https://unpkg.com/cornerstone-core/dist/cornerstone.js"></script>
</head>
<body>
    <div id="sidebar">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'patients' %}">Patients</a></li>
            <li><a href="#">Appointments</a></li>
            <li><a href="#">Contact Patient</a></li>
            <li><a href="#">Account</a></li>
            <a href="{% url 'dicom_viewer' %}">DICOM Viewer</a>
        </ul>
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <script src="{% static 'doctor_dashboard/js/script.js' %}"></script>
</body>
</html>
